/* Main Styles */


body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Navigation */
.nav_container {
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #1A2238;

}

.nav_menu {
    list-style: none;
    display: flex;
    width: 20rem;
    justify-content: space-around;
    color: white;
}


.nav_container a {
    text-decoration: none;
    color: white;
}

.nav_container a:hover {
    text-decoration: underline;
    font-size: 20px;
    color: #FF6A3D;
    transition-duration: 500ms;
}

.nav_logo {
    font-family: 'Lobster';
    font-size: 24px;
}

.nav_logo a:hover {
    font-size: larger;
    animation-duration: 500ms;

}

@media screen and (max-width: 768px) {

    body {
        font-size: 1rem;
    }


    .nav_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 13rem;
    }

    .nav_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 3rem;
        height: 10rem;

    }

    .nav_logo {
        margin-top: 2rem;
    }

}



/* Hero Styles */

.hero_container {
    border: 1px solid black;
    height: 600px;
    width: 100%;

}