/* Card  */

.profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card_footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.card_body {
    padding: 1rem;
}

.post_time {
    font-size: 12px;
    color: lightgrey;
}





/* Article */
.article {
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}